<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.15.5</string>
	<key>CFBundleVersion</key>
	<string>215</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>PasteDeck 需要访问文件以预览和粘贴您复制的代码、文本等文件内容。</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>PasteDeck 需要访问桌面文件以预览和粘贴您复制的文件内容。</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>PasteDeck 需要访问下载文件夹以预览和粘贴您复制的文件内容。</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 PasteDeck. All rights reserved.</string>
	<key>NSInputMonitoringUsageDescription</key>
	<string>PasteDeck 需要输入监控权限来检测鼠标选中操作，以实现划词翻译功能。应用不会记录或传输您的键盘输入。</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>PasteDeck 需要发送 Apple 事件以在其他应用中执行粘贴操作。</string>
	<key>NSMainStoryboardFile</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
